body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(to bottom, #e6f0e6, #f9fdf9);
}

nav {
  background: linear-gradient(to right, #6b8e23, #4a6b4a);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.booking {
  text-align: center;
  margin-top: 40px;
}

form {
  background: rgba(255,255,255,0.8);
  padding: 25px;
  width: 340px;
  margin: auto;
  border-radius: 15px;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4a6b4a;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #3b5c3b;
}

/* Admin Panel */
.admin {
  width: 90%;
  margin: 40px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.delete-btn {
  background: red;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}